body{
	margin:0px;
}
.containerCenter {
	display:flex;
	flex-direction: column;
	border-right-style: solid;
	/*background-image: url("images/FehlingerEuBackground.png");*/
	background-size:100% 100%;
	width:60%;
}
.containerCenter .changeableMenu {
	position:absolute;
	font-size:24px;
}
.changeableMenu button{
	font-size:24px;
	margin-right:16px;
	margin-top:16px;
}
h1 {
	text-align:center;
}
.container {
	display:flex;
	border-top-style: solid;
}
.containerLeft {
	display:flex;
	flex-direction: column;
	width:30%;
	border-right-style: solid;
}
.containerRight {
	display:flex;
	flex-direction: column;
}
.containerRight button{
	font-size:16px;
}
.containerUpgrade{
	display:flex;
}
.geekButton {
	width: 200px; 
	height: 50px;
	font-size:24px;
}
.Epstein {
	animation: rotation 6s infinite linear;
	width: 30%;
	height: auto;
	margin-top: 50px;
	margin-bottom: 50px;
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
.geekpointsDisplay {
	font-size:24px;
	text-align:center;
}
.scroll-container {
  flex-grow: 1;
  overflow: hidden;
  border:3px;
  border-style: solid;
  border-color:black;
  margin-bottom:10px;
}
.text-row {
  white-space: nowrap;
  padding: 10px 0;
  align-items: center;
}
.text-scroll {
  display: inline-flex;
  flex-shrink: 0;
  animation: scroll 30s linear infinite;
  padding-left:100%
}
@keyframes scroll {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}
#saveText{
	opacity:0;
	animation: fadeOut 5s ease-in;
}
@keyframes fadeOut {
    from { opacity: 1; }
    to { opacity: 0; }
}
#uiDiv{
	font-size:24px;
}
.upgradeButton{
	width:100%;
}
.containerUpgradesScroll div{
	width:100%;
}
#uiDiv{
	font-size:30px;
}
.leftButtonContainer{
	display:flex;
	border-style: solid;
}
.leftButtonContainer button{
	border-style: solid;
	border-width: 1px;
}