.containerCenter {
	display:flex;
	flex-direction: column;
}
.resetContainer {
	position: absolute; bottom: 0px;
	display:flex;
}
.resetContainer button{
	font-size:24px;
	margin-right:16px;
}
h1 {
	text-align:center;
}
.container {
	display:flex;
	justify-content: space-between;
}
.containerLeft {
	display:flex;
	flex-direction: column;
	width:20%;
}
.containerRight {
	display:flex;
	flex-direction: column;
}
.containerRight button{
	font-size:16px;
}
.containerUpgrade{
	display:flex;
}
.geekButton {
	width: 200px; 
	height: 50px;
	font-size:24px;
	margin-top:80px;
}
.Epstein {
	animation: rotation 6s infinite linear;
	width: 80%;
	height: auto;
	margin-top: 50px;
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
#amountDisplay {
	font-size:24px;
}
.containerTed{
	width:90%;
	height:350px;
	margin: auto;
	margin-top:30px;
}
.image-button {
             width: 100px;
             height: 130px;
             background-image: url(
    'images/ted.png');
             background-size: cover;
             border: none;
             cursor: pointer;
			   transition: .5s top, .5s right;
}
#test1{
	height: 130px;
	width:100px;
	position: absolute;
	visibility:hidden;
}
.scroll-container {
  flex-grow: 1;
  overflow: hidden;
  border:3px;
  border-style: solid;
  border-color:black;
  margin-bottom:10px;
}
.text-row {
  white-space: nowrap;
  padding: 10px 0;
  align-items: center;
}
.text-scroll {
  display: inline-flex;
  flex-shrink: 0;
  animation: scroll 30s linear infinite;
  padding-left:100%
}
@keyframes scroll {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}
#saveText{
	opacity:0;
	animation: fadeOut 5s ease-in;
}
@keyframes fadeOut {
    from { opacity: 1; }
    to { opacity: 0; }
}

